<form class="data-form">
    <ul class="inputs-list container-fluid">
        <li ng-repeat="input in FormCtrl.inputs" class="col-xs-6">
            <div class="form-group">
                <label ng-bind="input.placeholder"></label>
                <input class="form-control"
                       type="{{input.type}}"
                       placeholder="{{input.placeholder}}"
                       ng-model="HomeCtrl.data[input.id]">
            </div>
        </li>
    </ul>
</form>