<div class="form-wrp container-fluid">
    <div class="container-fluid">
        <div class="progress">
            <div class="progress-bar"
                 ng-style="{width: HomeCtrl.progressOpts.current() + '%'}"
                 role="progressbar" aria-valuenow="HomeCtrl.progressOpts.current"
                 aria-valuemin="0" aria-valuemax="100"
                 ng-bind="HomeCtrl.progressOpts.msg()">
            </div>
        </div>
    </div>
    <div ui-view class="animated"></div>

    <div class="container-fluid form-actions">
        <button type="button" ng-click="HomeCtrl.goBack()" class="pull-left btn btn-primary col-xs-2" ng-disabled="!HomeCtrl.allowBack()">
            <span class="glyphicon glyphicon-chevron-left"></span> Back
        </button>
        <button type="button" ng-click="HomeCtrl.goNext()" class="pull-right btn btn-primary col-xs-2" ng-disabled="!HomeCtrl.allowNext()">
            Forward <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>