<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>Web Form</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div ui-view></div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/Api.js"></script>
<script type="text/javascript" src="app/formSrvs.js"></script>
<script type="text/javascript" src="app/homeCtrl.js"></script>
<script type="text/javascript" src="app/formCtrl.js"></script>
<script type="text/javascript">
    window.angular.bootstrap(document.body, ['app']);
</script>
</body>
</html>
