.inputs-list li {
    float: left;
    list-style: none;
}
.inputs-list {
    padding: 0;
}
.form-wrp {
    margin: 10px auto;
    max-width: 768px;
    height: 454px;
    position: relative;
}
.form-actions {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
}
[ui-view].animated.ng-enter, [ui-view].ng-leave {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].animated.ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].animated.ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].animated.ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].animated.ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}